body{
    background-color: dimgrey;
    display: flex;
    align-items: center;
   flex-grow: 0;
   justify-content: center;
   flex-direction: column;
   gap: 50px
}

.homescreen{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: ghostwhite;
    border-radius: 20px;
    min-width: 500px;
    min-height: 260px;
    padding-right: 50px;
    margin-top: 300px ;
}

.rps01{
    width: 90px;
    height: 40px;
    font-family: monospace;
    font-weight: 100;
    font-size: large;
    }
.h101{
    margin-left: 100px;
    font-family: monospace;
    margin-top: 30px;
    margin-right: 50px;
}
.rps02{
    width: 90px;
    height: 40px;
    font-family: monospace;
    font-weight: 100;
    font-size: large;
    }
    .rps03{
        width: 100px;
        height: 40px;
        font-family: monospace;
        font-weight: 100;
        font-size: large;
        }
    .result{
        
        background-color: ghostwhite;
        border-radius: 20px;
        min-width: 500px;
        min-height: 260px;
        max-height: 260px;
        max-width: 500px;
        justify-content: center;
       
    }
    .h102{
        font-family: monospace;
        margin-top: 30px;
        margin-left: 200px;
        }
    .player,.computer{
        font-family: monospace;
      
    }
    .container{
        display: flex;
        gap: 150px;
        margin-bottom: 60px;
        margin-top: 30px;
        margin-right: 50px;
        margin-left: 100px;
    }
    .res{
        margin-left : 200px;
        font-family: monospace;
    }

