body{
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.homescreen{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: ghostwhite;
    margin: 500px;
    border-radius: 20px;
    min-width: 500px;
    min-height: 260px;
    padding-right: 50px;
}

.rps01{
    width: 90px;
    height: 40px;
    font-family: monospace;
    font-weight: 100;
    font-size: large;
    }
.h101{
    margin-left: 100px;
    font-family: monospace;
    margin-top: 30px;
}
.rps02{
    width: 90px;
    height: 40px;
    font-family: monospace;
    font-weight: 100;
    font-size: large;
    }
    .rps03{
        width: 100px;
        height: 40px;
        font-family: monospace;
        font-weight: 100;
        font-size: large;
        }
    
